<%- include('partials/header') -%>


<div class='jumbotron text-center'>
  <img src='images/cover.png' alt='fysical logo'>
  <p>A simple to use weight tracking application</p>
  <p>Start your journey by tracking your weight and seeing progress over time!</p>
  <div class="row d-flex justify-content-center">
      <a href="/login" class="col-1 btn btn-danger btn-lg">Login</a>
      <a href="/signup" class="col-1 btn btn-danger btn-lg">Signup</a>
  </div>
</div>
  
<%- include('partials/footer') -%>