<%- include('partials/header') -%>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login"><img src="images/navLogo.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#about">LOGIN</a></li>
              <li><a href="#services">REGISTER</a></li>
              <li><a href="#portfolio">ABOUT</a></li>
            </ul>
          </div>
        </div>
    </nav> 
    <div class='jumbotron text-center'>
        <img src='images/cover.png' alt='fysical logo'>
        <p>A simple to use weight tracking application</p>
        <div class="row">
            <div class="col-4">
                <p>Enter Weigth Loss Data</p>
            </div>
            <div class="col-8"></div>
          </div>
    </div>  

<%- include('partials/footer') -%>